<aside id="sidebar" class="expand">
    <div class="d-flex">
        <div class="sidebar-logo">
            <a href="/">عيادة</a>
        </div>
    </div>
    <AuthorizeView>
        <Authorized>
            <ul class="sidebar-nav">
                @if (context.User.IsInRole("Admin"))
                {
                    <li class="sidebar-item">
                        <a href="users" class="sidebar-link">
                            <i class="lni lni-user-4"></i>
                            <span>المستخدمين</span>
                        </a>
                    </li>
                }
                <li class="sidebar-item">
                    <a href="doctors" class="sidebar-link">
                        <i class="lni lni-user-4"></i>
                        <span>الأطباء</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse"
                       data-bs-target="#auth"
                       aria-expanded="false" aria-controls="auth">
                        <i class="lni lni-user-4"></i>
                        <span>المستخدمين</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="lni lni-user-4"></i>
                                <span>المستخدمين</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="sidebar-footer">
                <span class="text-white mx-5">
                    @context.User.Identity!.Name
                </span>
                <br/>
                <a href="logout" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>خروج</span>
                </a>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="sidebar-footer">
                <a href="login" class="sidebar-link">
                    <i class="lni lni-enter"></i>
                    <span>دخول</span>
                </a>
            </div>
        </NotAuthorized>
    </AuthorizeView>

</aside>