<aside id="sidebar" class="expand">
    <div class="d-flex">
        <div class="sidebar-logo">
            <a href="/">عيادة</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="lni lni-user-4"></i>
                <span>المستخدمين</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="lni lni-user-4"></i>
                <span>المستخدمين</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
               aria-expanded="false" aria-controls="auth">
                <i class="lni lni-user-4"></i>
                <span>المستخدمين</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-user-4"></i>
                        <span>المستخدمين</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>خروج</span>
        </a>
    </div>
</aside>