@page "/users/add"

@using Models.Entities
<PageTitle>Add User</PageTitle>

<div class="row justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card card-body p-4">
            <h4 class="mb-2">إضافة مستخدم</h4>
            <hr class="mb-3" />
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger">
                    @errorMessage
                </div>
            }
            <EditForm Model="model" FormName="AddUser" OnSubmit="Submit">
                <label class="mb-1 form-label">الإسم بالكامل</label>
                <InputText type="text" @bind-Value="model.FullName" class="form-control mb-3"/>
                <label class="mb-1 form-label">البريد الإلكتروني</label>
                <InputText type="email" @bind-Value="model.Email" class="form-control mb-3"/>
                <label class="mb-1 form-label">كلمة المرور</label>
                <InputText type="password" @bind-Value="model.Password" class="form-control mb-3"/>
                <label class="mb-1 form-label">الصلاحية</label>
                <InputSelect @bind-Value="model.Role" class="form-select mb-3">
                    @foreach (var role in Enum.GetValues(typeof(UserRole)))
                    {
                        <option value="@role.GetHashCode()">@role</option>
                    }
                </InputSelect>
                <button type="submit" class="btn btn-primary mb-3">إضافة</button>
            </EditForm>
        </div>
    </div>
</div>