@page "/users/edit/{id:int}"
@using Models.Entities

<PageTitle>Edit User</PageTitle>

<div class="row justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card card-body p-4">
            <h4 class="mb-2">تعديل مستخدم</h4>
            <hr class="mb-3" />
            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <div class="alert alert-danger">
                    @_errorMessage
                </div>
            }
            @if(_user != null) {
                <EditForm Model="_user" FormName="UpdateUser" OnSubmit="Submit">
                    <label class="mb-1 form-label">الإسم بالكامل</label>
                    <InputText type="text" @bind-Value="_user.FullName" class="form-control mb-3"/>
                    <label class="mb-1 form-label">البريد الإلكتروني</label>
                    <InputText type="email" @bind-Value="_user.Email" class="form-control mb-3"/>
                    <label class="mb-1 form-label">الصلاحية</label>
                    <InputSelect @bind-Value="_user.Role" class="form-select mb-3">
                        @foreach (var role in Enum.GetValues(typeof(UserRole)))
                        {
                            <option value="@role">@role</option>
                        }
                    </InputSelect>
                    <button type="submit" class="btn btn-primary mb-3">حفظ</button>
                </EditForm>
            }
        </div>
    </div>
</div>