@page "/doctors/add"

<PageTitle>Add Doctor</PageTitle>

<div class="row justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card card-body p-4">
            <h4 class="mb-2">إضافة طبيب</h4>
            <hr class="mb-3" />
            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <div class="alert alert-danger">
                    @_errorMessage
                </div>
            }
            <EditForm Model="Doctor" FormName="AddUser" OnSubmit="CreateDoctor">
                <label class="mb-1 form-label">المستخدم</label>
                <InputSelect @bind-Value="Doctor.UserId" class="form-select mb-3">
                    @foreach (var user in Users)
                    {
                        <option value="@user.Id">@user.FullName</option>
                    }
                </InputSelect>
                <label class="mb-1 form-label">رقم الهاتف</label>
                <InputText type="text" @bind-Value="Doctor.PhoneNo" class="form-control mb-3"/>
                <label class="mb-1 form-label">التخصص</label>
                <InputText type="text" @bind-Value="Doctor.Specialization" class="form-control mb-3"/>
                <button type="submit" class="btn btn-primary mb-3">إضافة</button>
            </EditForm>
        </div>
    </div>
</div>
